html,body {
    margin:0; padding:0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 100%
}
svg {
    display:block;
    position:absolute;
    top:0; left:0;
    width:100%; height:100%;
    background:#fff;
}

#inspector {
    display:none;
    position:absolute; top:10px; right:10px;
    width:240px;
    background:#eee;
    border:1px solid rgba(0,0,0,0.5);
    border-radius: 5px;
    border-spacing: 0;
    box-sizing: border-box;
}
#inspector * {
    box-sizing: border-box;
}
#inspector tr > * {
    margin:0;
    padding:1px 4px;
    font-family:'Trebuchet MS', Calibri;
    border-top:1px solid #ddd;
}
#inspector #stateProperties tr:first-child > * {
    border-top:0;
}
#inspector #transProperties tr:first-child > * {
    border-top:2 px solid #aaa
}
#inspector th {
    text-align:left;
    font-weight:bold;
    color:#333;
    width:1px;
    white-space:nowrap;
}
#inspector td {
    display:flex;
}
#inspector td > *, #inspector textarea {
    display:block; width:100%;
}
#inspector textarea {
    white-space:nowrap;
    overflow-x:hidden;
    overflow-y:auto;
    font-family: Consolas, 'Andale Mono', monospace;
    width:230px;
    font-size:10px;
}
#inspector select { flex:2 }
#inspector input  { flex:1 }
#inspector input[type='number'] { text-align:right }

#inspector td[colspan] { display:table-cell; padding-right:0 }
#inspector td.button { text-align:right }
#inspector td button { width:auto; margin-left:auto }

/* nested table for actions */
#inspector table { display:table }
#inspector table tr { display:table-row }
#inspector table td { display:table-cell }
#inspector table td:last-child { padding-right:2px }
#inspector table td > * { display:inline }
#inspector table td > label { white-space:nowrap }
#inspector table select { display:inline; width:auto }
button.deleteAction { font-weight:bold; color:#c00 }